.note-editor {
    height: 100%;
    overflow-y: auto;

    .ProseMirror {
        outline: none;
        min-height: 100%;
        padding: 12px;

        hr.ProseMirror-selectednode {
            border-top: 2px solid #78A4FC;
        }

        a {
            color: #4884FC;
            cursor: pointer;
        }
    }
}
