.note-editor {
    height: 100%;
    overflow-y: auto;

    .ProseMirror {
        outline: none;
        min-height: 100%;
        padding: 12px;

        // placeholder
        .is-empty::before {
            content: attr(data-placeholder);
            float: left;
            color: rgba(0, 0, 0, 0.38);
            pointer-events: none;
            height: 0;
        }

        // horizontal rule
        hr.ProseMirror-selectednode {
            border-top: 2px solid #78A4FC;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 8px 0;
        }

        // paragraph
        p {
            margin: 0;
        }

        // anchor
        a {
            color: #4884FC;
            cursor: pointer;
        }

        // unordered list
        ul {
            list-style: disc;
            margin: 0;
            ul {
                list-style: circle;
                ul {
                    list-style: square;
                }
            }
        }

        // ordered list
        ol {
            list-style: decimal;
            margin: 0;
            ol {
                list-style: lower-alpha;
                ol {
                    list-style: lower-roman;
                }
            }
        }

        // task list
        ul[data-type="taskList"] {
            list-style: none;
            padding-left: 8px;
            li {
                display: flex;
                > label {
                    margin-right: 0.5rem;
                }
                > div {
                    flex: 1 1 auto;
                }
            }
        }

        // inline code
        code {
            background-color: #AFB8C133;
            border-radius: 2px;
            padding: 2px;
        }

        // code block
        pre {
            background-color: #AFB8C133;
            border-radius: 6px;
            padding: 12px;
            code {
                background-color: transparent;
            }
        }

        // blockquote
        blockquote {
            border-left: 4px solid #D0D7DE;
            margin: 8px 0;
            padding-left: 16px;
        }
    }
}
