.note-editor {
  overflow-y: auto;

  .ProseMirror {
    outline: none;
    padding: 12px;
    padding-bottom: calc(100vh - 150px);

    // placeholder
    .is-empty::before {
      content: attr(data-placeholder);
      float: left;
      color: rgba(0, 0, 0, 0.38);
      pointer-events: none;
      height: 0;
    }

    // horizontal rule
    hr.ProseMirror-selectednode {
      border-top: 2px solid #78a4fc;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }

    // paragraph
    p {
      margin: 0;
    }

    // anchor
    a {
      color: #4884fc;
      cursor: pointer;
    }

    // unordered list
    ul {
      list-style: disc;
      margin: 0;
      ul {
        list-style: circle;
        ul {
          list-style: square;
        }
      }
    }

    // ordered list
    ol {
      list-style: decimal;
      margin: 0;
      ol {
        list-style: lower-alpha;
        ol {
          list-style: lower-roman;
        }
      }
    }

    // task list
    ul[data-type='taskList'] {
      list-style: none;
      padding-left: 8px;
      li {
        display: flex;
        > label {
          margin-right: 0.5rem;
        }
        > div {
          flex: 1 1 auto;
        }
      }
    }

    // inline code
    code {
      background-color: #afb8c133;
      border-radius: 2px;
      padding: 2px;
    }

    // code block
    pre {
      background-color: #afb8c133;
      border-radius: 6px;
      padding: 12px;
      code {
        background-color: transparent;
      }
    }

    // blockquote
    blockquote {
      border-left: 4px solid #d0d7de;
      margin: 8px 0;
      padding-left: 16px;
    }
  }
}
